<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Eazy Retail Slaes Receipt</title>
</head>

<body>
  <main class='mx-6 my-4 '>
    <div class="">

      <div class="flex justify-center">
        <div class="flex flex-col">
          <span class="font-bold text-3xl text-center text-emerald-500">Smith Store</span>
          <span class="text-sm text-center">123 Billings Way</span>
          <span class="text-sm text-center">Lagos, NG 100234</span>
          <span class="text-xs text-center">Tel: +234 123 456 7890</span>
        </div>
      </div>
      <div class='border  w-full my-4'></div>

      <div class="flex flex-col items-center">
        <span class="font-bold">Mary Demehin</span>
        <span class="text-xs">+23482036254</span>
        <!-- <span class="text-xs">Created: 01/01/2021</span> -->
      </div>
      <div class='border  w-full my-4'></div>

      <div class="flex flex-col items-center">
        <span class="font-bold">Order Summary</span>
        <span class="text-xs">Receipt ID: 123456789</span>
        <span class="text-xs">Created: 15 Feb 2023 - 8:50pm</span>
      </div>

      <table class='max-w-lg mx-auto w-full table-auto mt-8'>
        <thead class='px-1 py-2 bg-gray-200'>
          <tr class='flex'>
            <th class='flex w-full'>
              Pmode
            </th>
            <th class='flex w-full '>
              Items
            </th>
            <th class='flex w-full'>
              Qty
            </th>
            <th class='flex w-full'>
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class='flex justify-between'>
            <td class='w-full'>
              Cash
            </td>
            <td class='w-full'>
              5
            </td>
            <td class='w-full'>
              8
            </td>
            <td class='w-full'>
              ₦100,000
            </td>
          </tr>

        </tbody>
      </table>
      <div class='border  w-full my-4'></div>

      <div class="grid grid-cols-4 max-w-lg mx-auto bg-gray-200 px-2 ">
        <span class='font-bold text-lg'>Name</span>
        <span class='font-bold text-lg'>Price</span>
        <span class='font-bold text-lg'>Qty</span>
        <span class='font-bold text-lg'>Total</span>
      </div>

      <div class="grid grid-cols-4 max-w-lg mx-auto px-2 space-y-2 text-sm">

        <span>Maggi naija pot</span>
        <span>₦500</span>
        <span>2</span>
        <span>₦1,000</span>

        <span>Dangote Rice</span>
        <span>₦35,000</span>
        <span>4</span>
        <span>₦140,000</span>

        <span>Golden Penny SPaggethi</span>
        <span>₦1,500</span>
        <span>1</span>
        <span>₦1,500</span>

        <span>Indomie Onion Flavour</span>
        <span>₦3,500</span>
        <span>3</span>
        <span>₦10,500</span>

      </div>

      <div class='border-b-2 border-black my-2'></div>

      <div class="grid grid-cols-4 max-w-lg mx-auto px-2 text-sm">

        <span class='col-span-3'>Sub total</span>
        <span>₦147,000</span>

        <span class='col-span-3'>Tax</span>
        <span>₦0</span>

        <span class='col-span-3'>Discount</span>
        <span>₦0</span>

        <span class='col-span-3 font-bold text-base'>Grand Total</span>
        <span class='font-bold text-base'>₦147,000</span>
      </div>
      <div class='border-b-2 border-gray-200 my-2'></div>

      <div class="grid grid-cols-4 max-w-lg mx-auto px-2 text-sm">

        <span class='col-span-3 text-emerald-500'>Payment Recieved</span>
        <span>₦147,000</span>

        <span class="font-semibold">Change</span>
        <span class=" font-semibold text-emerald-500">₦1,000</span>
      </div>
      <div class='border-b-2 border-gray-200 my-2'></div>

      <div class="mt-5">
        <p class='text-center'>
          Thank you for shopping with us. We hope to see you again soon.
        </p>
        <p class='text-center text-sm'>
          Created from Eazy Retail app
        </p>
        <p class='text-center text-sm'>
          by Ibukun Demehin
        </p>

      </div>
    </div>
  </main>
</body>

</html>